body,html{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: rgb(155,155,155);
}
#titulo{
	font-size: 40px;
	margin: 0px;
	padding: 0px;
	color: white;
}
#header{
	width: 100%;
	position: fixed;
	background-color: gray;
}
#container{
align-self: center;
padding: 7%;
}
#espacio{
	margin: 5%;
	padding: 0;
}
