*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
body{
	background-color: silver;
}
#titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: white;
}
#subtitulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
}
#header{
	text-align: center;
	background-color: gray;
	width: 100%;
	height: 100px;
}
#espacio{
	margin: 10px;
	text-align: center;
    background-color: silver;
}
#modifiers{
	text-align: center;
}
